nav {
  z-index: 1;
}

.navbar {
  padding: 1rem 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav-btn {
  margin-left: 15px;
}

.navbar-brand {
  color: black;
  transition: 0.2s ease-in;
}

.navbar-brand:focus {
  color: white;
}

.nav-link {
  position: relative;
  margin: 0 2rem;
  color: black;
  text-decoration: none;
  overflow: hidden;
  padding: 0 !important;
}

.nav-link::before,
.nav-home::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--yellow-1);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.nav-link:hover::before,
.nav-home:hover::before {
  transform: scaleX(1);
}

.nav-home,
.navbar-brand-home,
.navbar-brand-home:active,
.nav-home-user {
  color: white;
  transition: 0.2s ease-in;
}

.nav-home:hover {
  color: white;
}

.navbar-brand:hover,
.navbar-brand-home:hover {
  color: var(--yellow-1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 150px;
  height: 40px;
  padding: 5px 12px;
}

.btn-yellow {
  background-color: var(--yellow-1);
  color: black;
  border: none;
}

.btn-yellow:hover {
  background-color: var(--yellow-hover);
  color: black;
}

.btn-yellow-outline {
  background-color: transparent;
  border: 2px solid var(--yellow-1);
}

.btn-yellow-outline:hover {
  background-color: var(--yellow-1);
}

.btn-red {
  background-color: var(--red-1);
  color: white;
  border: none;
}

.btn-red:hover {
  background-color: #e22413;
  color: white;
}

.btn-red-outline {
  background-color: transparent;
  border: 2px solid var(--red-1);
}

.btn-red-outline:hover {
  background-color: var(--red-1);
  color: white; 
}

.home-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-img-overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 25%;
}

.home-hero-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-hero {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.home-title {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.home-tag {
  width: 43%;
}

.about-page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.about-page-wrap>h1 {
  text-align: center;
  text-decoration: var(--yellow-1) underline;
  margin: 50px;
}

.about-dev {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.about-dev>h2 {
  text-decoration: var(--blue-1) underline;
}

.auth-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
}

.auth-page-image-container {
  position: relative;
  height: 100%;
}

.auth-page-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.auth-page-image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.auth-page-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.auth-page-form,
.pet-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.pet-form {
  margin: 25px auto;
}

.form-container {
  width: 75%;
}

.form-container>h1 {
  text-align: center;
  margin: 15px auto;
}

form>label {
  margin: 5px 0;
}

form>input[type="text"],
form>input[type="password"],
input[type="number"],
textarea,
select {
  border: 2px solid rgb(211, 211, 211);
  padding: 3px 9px;
  border-radius: 5px;
  margin-bottom: 25px;
}

form>.btn {
  width: 100%;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-change-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-decoration: var(--blue-1) underline;
  transition: 0.2s ease-out;
}

.form-change-btn:hover {
  text-decoration: var(--yellow-1) underline;
}

label[for="petSeeker"]>span,
label[for="organization"]>span {
  font-weight: 500;
}

.pet-form-container {
  width: 60%;
}

.pet-age-input-wrap {
  display: flex;
  gap: 0px;
  height: 100%;
  width: 75%;
  max-width: 300px;
}

.pet-age-input-wrap>input {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  width: 100%;
}

.pet-age-input-wrap>select {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.index-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding: 50px 0;
  min-height: max-content;
}

.index-wrap>h1 {
  margin-bottom: 50px;
}

.list-group, .orgs-pets-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  width: 70%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 5px;
  gap: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.pet-card-photo, .org-card-photo {
  width: 95%;
  padding-top: 95%;
  position: relative;
  overflow: hidden;
}

.pet-card-photo img, .org-card-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-card-info, .org-card-info {
  text-align: center;
}

.pet-card-info>h3, .org-card-info>h3 {
  color: var(--blue-1);
}

.pet-card-info>span, .org-card-info>span {
  font-size: 0.8rem;
  color: var(--gray-1);
}


.pet-card, .org-card {
  width: 30%;
  margin-bottom: 5%;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.pet-card:hover, .org-card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.pet-detail-wrap, .org-detail-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  padding-bottom: 100px;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

.org-detail-wrap {
  height: 100%;
}

.pet-detail-card {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 575px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.detail-card-image {
  flex: 1;
  height: 100%;
}

.detail-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-card-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-text-1 > h1 {
  color: var(--blue-1);
}

.detail-card-info h5 {
  color: var(--gray-1);
}

.detail-card-info p {
  margin-top: 25px;
  font-size: 1rem; 
}



.detail-card-info-text {
  display: flex;

}
.info-text-1 {
  flex: 3;
}
.info-text-2 {
  flex: 1; 
  position: relative;
  display: flex;
}

.pet-crud-buttons {
  display: flex;
  gap: 15px;
}

.info-line {
  position: absolute;
  top: -40px;
  left: 10px;
  width: 2px;
  height: 370px;
  background-color: var(--gray-1); 
}

.info-text-2 ul {
  list-style: none;
  margin: 0;
}

.info-text-2 li {
  margin-bottom: 35px;
  font-size: 1.1rem;
}

.info-text-2 span {
  color: var(--gray-1);
  font-weight: 500;
  font-size: 0.7rem;
}
.pet-detail-card {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 575px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.org-detail-card {
  display: flex;
  width: 750px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  gap: 50px;
}

.org-detail-image {
  width: 50%;
}

.org-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.org-detail-pets-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-toggler {
  border: none
}

.navbar-toggler:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon-home {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url('../../../public/images/hamburger-icon-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25px;
  height: 25px;
}


@media (min-width: 768px) {
  .org-detail-card {
    flex-direction: row;
    align-items: center;
  }

  .org-detail-image img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 860px) {
  .org-detail-wrap {
    padding: 10px
  }

  .org-detail-card {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .org-detail-image {
    width: 100%;
    object-fit: cover;
  }

  .org-detail-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .list-group, .orgs-pets-list {
    width: 90%;
  }

  .pet-card, .org-card {
    width: 100%;
  }

  .pet-detail-wrap {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .home-title {
    font-size: 3rem;
  }

  .home-tag {
    font-size: 1.5rem;
    width: 50%;
  }

  .list-group, .orgs-pets-list {
    width: 90%;
  }

  .pet-detail-wrap {
    height: 100%;
  }
  .pet-detail-card {
    flex-direction: column;
    height: 100%;
  }

  .detail-card-info {
    padding: 0;
  }

  .info-line {
    top: 0; 
    height: 300px;
  }

  .info-text-1 {
    flex: 4; 
  }

  .info-text-1 h5 {
    font-size: 1.2rem;
  }

  .info-text-1 p {
    font-size: 0.8rem;
  }

  .pet-crud-buttons {
    flex-direction: column;
  }


  .info-text-2 li {
    margin-bottom: 35px;
    font-size: 0.8rem;
  }
  
  .info-text-2 span {
    color: var(--gray-1);
    font-weight: 500;
    font-size: 0.5rem;
  }

  .info-text-2 ul {
    padding-top: 20px;
  }

  .nav-item {
    margin: 8px auto;
  }

  .nav-home, .nav-home-user {
    color: black
  }

  .nav-home:hover {
    color: black
  }
}

@media (max-width: 550px) {
  .org-detail-info h1 {
    font-size: 1.3rem;
  }

  .home-title {
    font-size: 2.5rem;
  }

  .home-tag {
    font-size: 1.3rem;
    width: 75%;
  }
}