/* CSS Custom Properties */
:root {
  --blue-1: #0E7072;
  --blue-2: #92E0D6;
  --yellow-1: #FFC744;
  --yellow-hover: #ffbd23;
  --red-1: #EE3625;
  --text-light: #B3B3B3;
}

/* background-color: var(--blue-1); */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fredoka', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.navbar {
  padding-top: 1rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 150px;
  height: 40px;
  padding: 5px 12px;
}

.btn-primary {
  background-color: var(--yellow-1);
}

.btn-primary:hover {
  background-color: var(--yellow-hover);
}

.btn-primary-outline {
  background-color: transparent;
  border: 2px solid var(--yellow-1);
}

.btn-primary-outline:hover {
  background-color: var(--yellow-1);
}

.btn-danger {
  background-color: var(--red-1);
}