/* CSS Custom Properties */
:root {
  --blue-1: #0E7072;
  --blue-2: #92E0D6;
  --yellow-1: #FFC744;
  --yellow-hover: #ffbd23;
  --red-1: #EE3625;
  --gray-1: #B3B3B3;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fredoka', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
